<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:component-scan base-package="com.gorilla" />

    <!-- BEGIN Calculation strategies -->
    <bean id="meanPriceCalculator" class="com.gorilla.calculation.impl.MeanPriceCalculator" scope="prototype"/>
    <bean id="dateLimitedMeanPriceCalculator" class="com.gorilla.calculation.impl.DateLimitedMeanPriceCalculator"
          scope="prototype">
        <property name="from">
            <bean class="java.time.LocalDate" factory-method="parse">
                <constructor-arg value="2014-10-31"/>
            </bean>
        </property>
        <property name="to">
            <bean class="java.time.LocalDate" factory-method="parse">
                <constructor-arg value="2014-12-01"/>
            </bean>
        </property>
    </bean>
    <bean id="fewNewestSummingCalculator"
          class="com.gorilla.calculation.impl.FewNewestSummingCalculator"
          init-method="init"
          scope="prototype">
        <property name="few" value="10"/>
    </bean>
    <bean id="dateOfMaxPriceFinderCalculator" class="com.gorilla.calculation.impl.DateOfMaxPriceFinderCalculator" scope="prototype"/>
    <alias alias="defaultCalculator" name="fewNewestSummingCalculator"/>
    <!-- END Calculation strategies -->


    <bean id="configurationService" class="com.gorilla.util.ConfigurationService">
        <property name="inputFileName" value="${instrument.file.path}"/>
        <property name="dateFormatStr" value="${instrument.file.date.format}"/>
        <property name="filedSeparator" value="${instrument.file.field.separator}"/>
        <property name="dbWebPort" value="${db.tcp.port}"/>
        <property name="dbTcpPort" value="${db.web.port}"/>
        <property name="resultTofile" value="${result.print.to.file}"/>
        <property name="resultFilePath" value="${result.output.file.path}"/>
        <!-- Mapping between instrument names and calculation strategies
            same type of calculation strategy for different instruments is ok,
            many strategies for the same instrument is not, thus keys must be unique.
            Unmapped instruments will get the default strategy-->
        <property name="mappings">
            <map key-type="java.lang.String" value-type="com.gorilla.calculation.StatisticsCalculator">
                <entry key="INSTRUMENT1" value-ref="meanPriceCalculator"/>
                <entry key="INSTRUMENT2" value-ref="dateOfMaxPriceFinderCalculator"/>
                <entry key="INSTRUMENT3" value-ref="dateLimitedMeanPriceCalculator"/>
            </map>
        </property>
    </bean>


</beans>